<div class="row">
	<a href="{{@blog.url}}">
		<img src="{{@blog.logo}}" alt="" class="img-circle">
	</a>
</div>
<div class="row">
	<h5>
		<p>{{@blog.title}}</p>
	</h5>
</div>
<div class="row">
	<h6 class="page-header">
		<p class="text-muted">{{@blog.description}}</p>
	</h6>
<div>
<div class="row">
    <ul>
        {{#foreach navigation}}
            <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
    </ul>
</div>