<div class="col-lg-2 visible-lg-block">
	<div class="row site-sidebar">
		<div>
			<a href="{{@blog.url}}">
				<img src="{{@blog.logo}}" alt="" class="img-circle">
			</a>
			<h4>
				<small>{{@blog.title}}</small>
			</h4>
		</div>		
		<h6 class="page-header">
			<p class="text-muted">{{@blog.description}}</p>
		</h6>
		{{! Ghost outputs navigation}}
		{{navigation}}
	</div>
</div>
